.header-content {
    display: flex;
    align-items: center;   /* Alinea verticalmente los elementos */
    justify-content: space-between;  /* Mantiene el span a la izquierda y el botón a la derecha */
    width: 100%;  /* Para que el contenedor ocupe todo el ancho disponible */
  }
  
  .header-content button {
    margin-right: 10px;  /* Opcional: añade un pequeño margen a la derecha del botón */
  }