mat-card-content{
    margin: 0;
    align-items: center;
    align-content: center;
    text-align: center;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    gap: 10px;
}

img{
    border: 2px solid;
}

mat-card-title{
    margin: 10px;
}