<div class="profile-container">
    <div class="top">
        <mat-card-title>Información de perfil</mat-card-title>
        <div class="buttons">
            <button mat-stroked-button disabled="true">CANCELAR</button>
            <button mat-flat-button disabled="true">GUARDAR</button>  
        </div>
    </div>       
    <mat-card class = "main-card" appearance="outlined">
        <mat-card-content>            
            <img src="https://github.com/zentoo31.png" alt="" class="rounded-circle" width="250" height="250">
        </mat-card-content>
    </mat-card>
</div>