@use '@angular/material' as mat;

@include mat.core();

// Define the theme object.
$CodeKids-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
  ),
  density: (
    scale: 0,
  )
));

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
  )
));

:root {
  @include mat.all-component-themes($CodeKids-theme);
}


.dark{
  @include mat.all-component-colors($light-theme);
}